<div class="container">
    <div class="container__1">
        <h1>Contáctanos</h1>
        <h3>Dejanos un comentario</h3>
    </div>
    <div class="container__2">

        <div class="container__2--row-1">
            <h1>Envíanos tu opinion</h1>
            <form class="form">
                <div class="form__name">
                    <div class="form__name form__name--firstName">
                        <mat-form-field>
                            <mat-label>Nombres</mat-label>
                            <input matInput placeholder="Ejm. Pedro" value="">
                        </mat-form-field>
                    </div>
                    <div class="form__name form__name--firstName">
                        <mat-form-field class="form__name form__name--lastName">
                            <mat-label>Apellidos</mat-label>
                            <input matInput placeholder="Ejm. Valverde" value="">
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field class="form__mail">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput placeholder="Ejm. pedro@gmail.com" value="">
                </mat-form-field>

                <mat-form-field class="form__description">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
                <a href="#" class="btn">Enviar</a>
            </form>
        </div>

        <div class="container__2--row-2">
            <div class="other-contact">
                <h3>También puedes contactarnos:</h3>
                <p>Número telefónico: (51) 999 - 8888 - 7777</p>
                <p>Correo: spazio@gmail.com</p>
            </div>
            <div class="image">
                <img src="../../../assets/img/Background/support.jpg" class="support-image" alt="">
            </div>
        </div>

    </div>

</div>