<div class="content">
    <div class="content-item content-item-1">
        <div class="text-block-proyecto">
            <h2>Proyectos en Construcción</h2>
            <h1>Tu Calle Mas na ####</h1>
            <h3>Departamentos desde</h3>
            <p>S/.48,000.00</p>
            <a href="#" class="btn-content-1">Ver mas</a>
        </div>
        <div class="carousel">
            <div class="opacity"></div>
            <img src="../assets/img/Sales Project/1 - Proyecto en Venta.jpg" alt="">
        </div>
    </div>

    <div class="title-for-content-2">
        <h2>¿Quiénes Somos?</h2>
    </div>
    <div class="content-item content-item-2">
        <div class="about-us">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi blanditiis iusto, laborum,
                molestiae
                mollitia aspernatur error voluptate culpa provident illo et sit rerum minus quo nihil nulla
                laudantium dolores
                aliquid.</p>
            <a href="/about-us" class="btn">Conócenos</a>
        </div>
        <div class="carousel">
            <img src="../assets/img/Enterprise/TeamSpazio.jpg" alt="">
        </div>
    </div>
    <div class="line-separate-horizontal"></div>
    <div class="title-for-content-3">
        <h2>Proyectos en Venta</h2>
        <p>Confianza que nos une (Ejemplo)</p>
    </div>
    <div class="content-item content-item-3">
        <div class="project-description">
            <div class="header">
                <h1 class="name-project">Los Laureles III</h1>
                <div class="line-separate-vertical"></div>
                <div class="column-2">
                    <p>Desde</p>
                    <div class="price-project">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                            <path
                                d="M64 64C28.7 64 0 92.7 0 128V384c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H64zm64 320H64V320c35.3 0 64 28.7 64 64zM64 192V128h64c0 35.3-28.7 64-64 64zM448 384c0-35.3 28.7-64 64-64v64H448zm64-192c-35.3 0-64-28.7-64-64h64v64zM288 160a96 96 0 1 1 0 192 96 96 0 1 1 0-192z" />
                        </svg>
                        <h2 class="price">S/. 420,000</h2>
                    </div>
                </div>
            </div>

            <div class="location-project"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                    <path
                        d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                </svg>
                <p>En algun lugar, Lima, Peru</p>
            </div>
            <div class="dimension-project">
                <div class="minimize-size"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path
                            d="M456 224H312c-13.3 0-24-10.7-24-24V56c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2l40 40L442.3 5.7C446 2 450.9 0 456 0s10 2 13.7 5.7l36.7 36.7C510 46 512 50.9 512 56s-2 10-5.7 13.7L433 143l40 40c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8zm0 64c9.7 0 18.5 5.8 22.2 14.8s1.7 19.3-5.2 26.2l-40 40 73.4 73.4c3.6 3.6 5.7 8.5 5.7 13.7s-2 10-5.7 13.7l-36.7 36.7C466 510 461.1 512 456 512s-10-2-13.7-5.7L369 433l-40 40c-6.9 6.9-17.2 8.9-26.2 5.2s-14.8-12.5-14.8-22.2V312c0-13.3 10.7-24 24-24H456zm-256 0c13.3 0 24 10.7 24 24V456c0 9.7-5.8 18.5-14.8 22.2s-19.3 1.7-26.2-5.2l-40-40L69.7 506.3C66 510 61.1 512 56 512s-10-2-13.7-5.7L5.7 469.7C2 466 0 461.1 0 456s2-10 5.7-13.7L79 369 39 329c-6.9-6.9-8.9-17.2-5.2-26.2s12.5-14.8 22.2-14.8H200zM56 224c-9.7 0-18.5-5.8-22.2-14.8s-1.7-19.3 5.2-26.2l40-40L5.7 69.7C2 66 0 61.1 0 56s2-10 5.7-13.7L42.3 5.7C46 2 50.9 0 56 0s10 2 13.7 5.7L143 79l40-40c6.9-6.9 17.2-8.9 26.2-5.2s14.8 12.5 14.8 22.2V200c0 13.3-10.7 24-24 24H56z" />
                    </svg>
                    <p>Desde: 68m2</p>
                </div>
                <div class="maximize-size">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <path
                            d="M200 32H56C42.7 32 32 42.7 32 56V200c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l40-40 79 79-79 79L73 295c-6.9-6.9-17.2-8.9-26.2-5.2S32 302.3 32 312V456c0 13.3 10.7 24 24 24H200c9.7 0 18.5-5.8 22.2-14.8s1.7-19.3-5.2-26.2l-40-40 79-79 79 79-40 40c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H456c13.3 0 24-10.7 24-24V312c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2l-40 40-79-79 79-79 40 40c6.9 6.9 17.2 8.9 26.2 5.2s14.8-12.5 14.8-22.2V56c0-13.3-10.7-24-24-24H312c-9.7 0-18.5 5.8-22.2 14.8s-1.7 19.3 5.2 26.2l40 40-79 79-79-79 40-40c6.9-6.9 8.9-17.2 5.2-26.2S209.7 32 200 32z" />
                    </svg>
                    <p>Hasta: 172m2</p>
                </div>
            </div>
            <div class="button-more-details">
                <a href="#" class="btn">Más Detalles</a>
            </div>
        </div>
        <div class="carousel">
            <img src="../assets/img/Sales Project/1 - Proyecto en Venta.jpg" alt="">
        </div>
    </div>
</div>