@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

div {
    font-family: 'Lato', sans-serif;
}


/* Estilos de los contenidos generales */
.content {
    width: 100%;
    overflow-y: auto;
}

.content-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
}

/* Estilos de los contenido 1 */
.content-item-1 {
    background-color: #000000;
    height: calc(100vh - 4.25em);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
}

.text-block-proyecto {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
}

.text-block-proyecto h2 {
    font-size: 2em;
    font-weight: normal;
}

.text-block-proyecto h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.text-block-proyecto p {
    font-size: 1em;
    font-style: italic;
}

.btn-content-1 {
    padding: 0.75em 1.5em;
    background-color: #FFFFFF;
    color: #14213D;
    text-align: center;
    text-decoration: none;
    border-radius: 1.5em;
    width: 5em;
    transition: all 0.3s ease 0s;
}

.btn-content-1:hover {
    background-color: #FCA311;
    color: black;
    transform: translateY(-1px);
    font-weight: bold;
}

.btn {
    padding: 0.75em 1.5em;
    background-color: #14213D;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 1.5em;
    width: 5em;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: #FCA311;
    color: black;
    transform: translateY(-1px);
    font-weight: bold;
}

.content-item-1 .carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.opacity {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-item-1 .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos de los contenido 2*/

.title-for-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #14213D;
    color: white;
    width: 30%;
    border-radius: 0 0 1.5em 0;
    padding: 0.75em 0.75em 0.75em 0.75em;
}

.title-for-content-2 h2 {
    font-size: 2rem;
}

.content-item-2 {
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
}

.content-item-2 .about-us p {
    font-size: 1em;
    margin-bottom: 1.5em;
    text-align: justify ;
}

.content-item-2 .carousel {
    text-align: center;
}

.content-item-2 .carousel img {
    max-width: 80%;
    height: auto;
}

/* Estilos de los contenido 3*/

.line-separate-horizontal {
    width: auto;
    height: 0.15em;
    background-color: #FCA311;
    margin-left: 1em;
    margin-right: 1em;
}

.title-for-content-3 {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: auto;
    padding-left: 1.25em;
}

.title-for-content-3 h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.title-for-content-3 h2 {
    font-size: 2rem;
    color: #FCA311;
    font-weight: normal;
}

.content-item-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25em;
    margin: 2em;
}


.content-item-3 .project-description {
    justify-content: center;
    align-items: center;
}

.content-item-3 .project-description i {
    color: #FCA311;
}

.content-item-3 .project-description .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-item-3 .project-description .header .price-project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75em;
}

.line-separate-vertical {
    width: 0.10em;
    height: 5em;
    background-color: #FCA311;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.content-item-3 .project-description .location-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.content-item-3 .project-description .dimension-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
}

.content-item-3 .project-description .dimension-project .minimize-size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.content-item-3 .project-description .dimension-project .maximize-size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.content-item-3 .project-description .button-more-details {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.75em;
}

.content-item-3 .carousel {
    width: auto;
    height: auto;
    text-align: center;
}

.content-item-3 .carousel img {
    max-width:100%;
    width: 80%;
    height: auto;
    object-fit: contain;
}

.btn-whatsapp {
	position: fixed;
    bottom: 0;
    right: 0;
	z-index: 999;
    margin: 1.5em;
	bottom: 20px;
	right: 20px;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 4px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #00e676;
	opacity: 0;
	animation: onda 1.7s infinite;
}

.btn-whatsapp:before {
	animation-delay: 1s;
}

.btn-whatsapp:after {
	animation-delay: 1.3s;
}

.btn-whatsapp img {
	position: relative;
	z-index: 2;
}

@keyframes onda {
	0% {
		transform: scale(1);
	}

	15%{
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

@media (max-width: 768px) {

    .content-item-1 {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    .content-item-1 .text-block-proyecto {
        position: absolute;
        top: 25%;
        left: 0;
        z-index: 2;
    }

    .content-item-1 .carousel {
        position: relative;
        bottom: 0;
    }

    /* Estilos de los contenido 2*/

    .title-for-content-2 {
        text-align: left;
        width: auto;
        border-radius: 0 0 0 0;
    }

    .content-item-2 {
        margin: 2em;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        gap: 1.5em;
    }

    /* Estilos de los contenido 3*/

    .content-item-3 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.25em;
        margin: 1.5em;
    }


}

