<div class="container">
    <div class="title">
        <h1>PROYECTOS INMOBILIARIOS EN VENTA</h1>
        <h2>Creando espacios donde vivir</h2>
    </div>
    <div class="search">
        <div class="search__select">
            <div class="search__select search__inputs--department">
                <p>Departamento:</p>
                <mat-form-field>
                    <mat-label>Departamento</mat-label>
                    <mat-select>
                        <mat-option value="Lima">Lima</mat-option>
                        <mat-option value="Piura">Piura</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="search__select search__inputs--district">
                <p>Distrito:</p>
                <mat-form-field>
                    <mat-label>Distrito</mat-label>
                    <mat-select>
                        <mat-option value="Catacaos">Catacaos</mat-option>
                        <mat-option value="Huacho">Huacho</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>