.title {
    margin: 1.75em
}

.title h1 {
    font-size: 2.5em;
    color: #14213D;
}

.title h2 {
    font-size: 2em;
    color: #FCA311;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search__select{
    padding: 0.5em;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    text-align: center;
    gap: 1.75em;
}

.search__select mat-form-field{
    justify-content: center;
    align-items: end;
}

.search__inputs--department {
    display: flex;
    gap: 0.75em;

}

.project{
    margin: 1.75em;
}

.project__projectfordepartment--title {
    font-size: 1.25rem;
    color: #14213D;
}

.project__projectfordepartment--cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.25em;
}

.project__projectfordepartment--cards--card {
    border-radius: 1.25em;
    padding: 0.75em;
    background-color: #FFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__projectfordepartment--cards--card .img-project {
    flex: 1;
}

.project__projectfordepartment--cards--card .img-project {
    text-align: center;
}

.project__projectfordepartment--cards--card .img-project img {
    max-width: 50%;
    height: auto;
}

.project__projectfordepartment--cards--card .location-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.project__projectfordepartment--cards--card .dimension-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
}

.project__projectfordepartment--cards--card .dimension-project .minimize-size {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

.project__projectfordepartment--cards--card .dimension-project .maximize-size {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

.project__projectfordepartment--cards--card .department-description-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.project__projectfordepartment--cards--card .department-description-project .bedroom-project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

.project__projectfordepartment--cards--card .department-description-project .bathroom-project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .project__projectfordepartment--cards--card .img-project img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .project__projectfordepartment--cards--card .img-project img {
        max-width: 100%;
    }
}