<main class="container">
    <div class="container__1">
        <div class="rows">
            <div class="row-1">
                <div class="title">
                    <h2>Nosotros</h2>
                </div>
                <div class="description">
                    <p>Empresa líder en el mercado de la construcción e inmobiliaria en Perú. Con más de 2 años de
                        trayectoria, nos enorgullece haber dejado una huella positiva en la industria, entregando
                        proyectos de alta calidad y generando soluciones innovadoras para satisfacer las necesidades de
                        nuestros clientes.</p>
                </div>
            </div>
            <div class="row-2">
                <img src="../../../assets/img/Enterprise/TeamSpazio.jpg" alt="">
            </div>
        </div>
        <div class="columns">
            <div class="column-1">
                <div class="years">
                    <h2>+3</h2>
                    <h3>Años</h3>
                </div>
                <div class="constructed-apartments">
                    <h2>+2</h2>
                    <h3>Proyectos Realizados</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="line-separate-horizontal"></div>
    <div class="container__2">
        <div class="mission">
            <div class="row-1">
                <h2>Mision</h2>
                <p>Transformar vidas a través de la construcción de hogares y espacios excepcionales. En Spazio, nos
                    comprometemos a brindar soluciones inmobiliarias innovadoras y de alta calidad que superen las
                    expectativas de nuestros clientes. Impulsados por la excelencia y la pasión por el diseño, creamos
                    comunidades sostenibles que enriquecen la vida de quienes las habitan.</p>
            </div>
            <div class="row-2">
                <img src="../../../assets/img/Enterprise/mission.jpg" alt="">
            </div>
        </div>
        <div class="vision">
            <div class="row-1">
                <img src="../../../assets/img/Enterprise/vision.jpg" alt="">
            </div>
            <div class="row-2">
                <h2>Visión</h2>
                <p>Ser la empresa líder en el mercado de la construcción e inmobiliaria en Perú, reconocida por nuestra
                    excelencia, innovación y compromiso con la satisfacción del cliente. En Spazio, aspiramos a
                    trascender las fronteras del desarrollo urbano, impulsando proyectos arquitectónicos vanguardistas y
                    sostenibles que redefinan el paisaje urbano y enriquezcan la calidad de vida de las personas. </p>

            </div>
        </div>
    </div>
    <div class="container-3">
        <h1>Nuestros Valores</h1>
        <div class="cards">
            <div class="card-description">
                <h2>Integridad</h2>
                <p>Actuamos con ética, honestidad y transparencia a nuestras operaciones</p>
            </div>
            <div class="card-description">
                <h2>Innovación</h2>
                <p>Somos creativos e innovadores para el desarrollo de soluciones en el mercado</p>
            </div>
            <div class="card-description">
                <h2>Sostenibilidad</h2>
                <p>Nos comprometemos a desarrollar proyectos con la integridad ecológica, contribuyendo a la
                    construcción de comunidades más responsables y conscientes  </p>
            </div>
            <div class="card-description">
                <h2>Pasión</h2>
                <p>Compartimos una pasión genuina por el desarrollo de espacios que mejoren la vida de las personas</p>
            </div>
        </div>
    </div>
</main>