<main class="container">
    <div class="container-1">
        <div class="rows">
            <div class="row-1">
                <div class="title">
                    <h1>Nosotros</h1>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed pariatur, veniam vel repellendus
                        ut totam, illo cum saepe laboriosam tempora eveniet! Labore perferendis laudantium
                        blanditiis impedit, sapiente harum laboriosam reiciendis!</p>
                </div>
            </div>
            <div class="row-2">
                <img src="../../../assets/img/Enterprise/TeamSpazio.jpg" alt="">
            </div>
        </div>
        <div class="columns">
            <div class="column-1">
                <div class="years">
                    <h2>+10</h2>
                    <p>años</p>
                </div>
                <div class="constructed-apartments">
                    <h2>+200</h2>
                    <p>Departamentos Construidos</p>
                </div>
                <div class="constructed-builder">
                    <h2>+20</h2>
                    <p>Edificios Construidos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="line-separate-horizontal"></div>
    <div class="container-2">
        <div class="mission">
            <div class="row-1">
                <h2>Mision</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi possimus dolorem excepturi
                    voluptates. Illum quod adipisci cumque, ullam dolore placeat possimus perspiciatis error
                    quibusdam architecto aliquid modi neque veritatis est.</p>
            </div>
            <div class="row-2">
                <img src="../../../assets/img/Enterprise/mission.jpg" alt="">
            </div>
        </div>
        <div class="vision">
            <div class="row-1">
                <img src="../../../assets/img/Enterprise/vision.jpg" alt="">
            </div>
            <div class="row-2">
                <h2>Mision</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi possimus dolorem excepturi
                    voluptates. Illum quod adipisci cumque, ullam dolore placeat possimus perspiciatis error
                    quibusdam architecto aliquid modi neque veritatis est.</p>

            </div>
        </div>
    </div>
    <div class="container-3">
        <h1>¿Porqué elegir Spazio?</h1>
        <div class="cards">
            <div class="card-description">
                <h2>Visionario</h2>
            </div>
            <div class="card-description">
                <h2>Empatía</h2>
            </div>
            <div class="card-description">
                <h2>Sostenibilidad</h2>
            </div>
            <div class="card-description">
                <h2>Profesionalismo</h2>
            </div>
        </div>
    </div>
</main>