@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    overflow-y: auto;
}

.container__1 {
    gap: 1.25em;
    height: 80vh;
}

.container__1 .rows {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    text-align: center;
    height: auto;
    background-image: url("../../../assets/img/Background/wave.svg");
    background-size: 60%;
    background-position: left;
    background-repeat: no-repeat;
}

.container__1 .rows .row-1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
    text-align: left;
    padding: 1em 1em 1em 2em;
    height: 100%;
    gap: 2.5em;
}

.container__1 .rows .row-1 .title {
    text-align: left;
    border-bottom-width: 0.15em;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 10%;
    font-size: 2em;
}

.container__1 .rows .row-1 .description {
    text-align: left;
    letter-spacing: 0.05em;
}

.container__1 .row-2 {
    display: flex;
    flex: 1;
    overflow: hidden;
    z-index: -1;
}

.container__1 .row-2 img {
    max-width: 100%;
    max-height: 100%;
}

.container__1 .columns {
    position: relative;
    bottom: 5em;
    padding: 1em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.container__1 .column-1 {
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    border-radius: 1em;
    width: 50em;
    height: 7em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.container__1 .years {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container__1 .constructed-apartments {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.container__1 .column-1 span {
    color: #FCA311;
    font-size: 2em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.container__1 .column-1 p {
    color: #000;
    text-align: center;
    font-size: 1em;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
}

.line-separate-horizontal {
    width: auto;
    height: 0.15em;
    background-color: #FCA311;
    margin-left: 1em;
    margin-right: 1em;
}

.container__2 {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 5em 10em 5em 10em;
    gap: 5em;
    justify-content: center;
    align-items: center;
}

.container__2 .mission {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1.25em;
}

.container__2 .mission .row-1 {
    display: grid;
    gap: 1em;
}

.container__2 .mission .row-1 h2 {
    color: #fca311;
}

.container__2 .mission .row-2 {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.container__2 .mission .row-2 img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.container__2 .vision {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 1.25em;
}

.container__2 .vision .row-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.container__2 .vision .row-1 img {
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.container__2 .vision .row-2 {
    display: grid;
    gap: 1em;
    text-align: left;
}

.container__2 .vision .row-2 h2 {
    color: #fca311;
}

.container-3 {
    margin: 1.25em 1.25em 1.25em 1.25em;
}

.container-3 h1 {
    font-size: 2.5em;
}

.container-3 .cards {
    display: grid;
    padding: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 1.25em;
}

.container-3 .card-description h2 {
    margin: 0.5em;
    color: #FCA311;
}

.container-3 .card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 10em;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1.25em;
    padding: 2em;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container__1 .rows {
        background-image: none;
    }

    .container__1 .rows .row-1 {
        background-color: #FCA311;
    }
}

@media (max-width: 768px) {
    .container__1 .rows {
        background-image: none;
    }

    .container__1 .rows .row-1 {
        background-color: #FCA311;
    }

    .container__2 {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        padding: 3em 1.5em 5em 1.5em;
    }

    .container__2 .vision {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        text-align: right;
        gap: 1.25em;
    }
}